doctype html
html(lang='en')
    head
        title Сайт
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    body(ng-app='app')
        block main-content
        include scripts
